<!--START Left Column ======================================================-->
<div id="left">
  <div class="row">
    <div id='left2'>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div class="well">
        <h2>Blog 1</h2>
        <p> description here. </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h2>Blog 2</h2>
        <p> description here. </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h2>Blog 3</h2>
        <p> description here. </p>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
           <h1>Latest Blog</h1>
           <p> All the writing and stuff. </p>
           <p> Lots to say. </p>
           <p> Wow 2 whole paragraphs. </p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>  
</div>
<!--END   Left Column ======================================================-->
