<!--START Navbar ===========================================================-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- Button for toggling the navcar-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-ar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Brandname -->
      <a class="navbar-brand" href="#">Kblog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Beauty</a></li>
            <li><a href="#">Food</a></li>
            <li class="divider"></li>
            <li><a href="#">Archive</a></li>
          </ul>
        <li><a href="#">About</a></li>
        </li>
      </ul>  
    </div>
  </div>
</nav>
<!--END   Navbar ===========================================================-->
