<!--START Social Media =====================================================-->
<!--<div class="panel panel-default">
  <div class="panel-heading">Social Media</div>
  <div class="panel-body">-->
  	<div id="social_media">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default">
        <a href="#"><i class="fa fa-facebook fa-stack-3x"></i></a>
      </button>
      <button type="button" class="btn btn-default">
        <a href="#"><i class="fa fa-linkedin fa-stack-3x"></i></a>
      </button>
      <button type="button" class="btn btn-default">
        <a href="#"><i class="fa fa-twitter fa-stack-3x"></i></a>
      </button>
    </div>
    </div>
  <!--</div>
</div>-->
<!--END   Social Media =====================================================-->